<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="23"
        tools:overrideLibrary="com.barry.hybrid.flutter_module.flutter_module" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_app">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Android_app">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:theme="@style/FlutterLaunchTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.barry.hybrid.android_app.official.OfficialIntegrationActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Android_app" />

        <activity
            android:name="com.barry.hybrid.android_app.official.ExistingFlutterFragmentActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Android_app" />

        <activity
            android:name="com.idlefish.flutterboost.containers.FlutterBoostActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.barry.hybrid.android_app.flutterboost.FlutterBoostIntegrationActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Android_app" />

        <activity
            android:name="com.barry.hybrid.android_app.OtherActivity"
            android:exported="false"
            android:label="@string/title_activity_other"
            android:theme="@style/Theme.Android_app" />

    </application>
</manifest>

